.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0)100%,rgba(0,0,0,0)100%), url(fooditem3.jpg);
    background-position: center;
    background-size: cover;
    height: 200vh;
}
*{
  margin: 0;
  padding:0;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #DADBDD ;
    font-weight: bold;
    position: relative;
}

.content .par{
    padding-left: 180px;
    padding-bottom: 100px;
    padding-top:50px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 350px;
    padding-top: 80px;
    margin-top: 0%;
    letter-spacing: 2px;
}

button {
  width: 100px;
      height: 40px;
      background:#9A7B4F ;
      border: 2px solid #9A7B4F;
      margin-top: 13px;
      color: #fff;
      font-size: 15px;
      border-bottom-right-radius: 5px;
      border-bottom-right-radius: 5px;
      transition: 0.2s ease;
      cursor: pointer;
}

button i.fa {
  /* change the color of the icon*/
  color: white;
}


#text-input {
  margin-top: 20px;
  padding: 10px;
  font-size: 24px;
  width: 400px;
}
